.row {
  width: 1288px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.col_right{
  align-self: flex-start;
  margin-top: 150px;
  composes: ml-5 from from global;
}

.col_left{
  align-self: flex-start;
  composes: mr-5 from from global;
}
